# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Continuos Integration

on:
  pull_request:
    branches:
      - develop
      - stage
      - master

jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.10.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Check Code Format
        run: npm run check:format

      - name: Test Coverage
        timeout-minutes: 15
        run: npm run test:cov

      # - name: Build Docs
      #   run: npm run build:api-docs

      - name: Build Project
        run: npm run build
